.App {
  text-align: center;
  width:100vw
}

th {
  text-align: center;
  width:100%;
}

header {
  border: 1px solid orange;
  text-transform: uppercase;
  width:150px;
}

.green{
  color:#45a049;
  font-size:x-large;
  
}
.orange{
  color:orange;
  font-size:x-large;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
  background-color: #e6eef9;
 
}

.card {
  border: .5px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
}
table{
  width:100%;
}
table,td,tr{
  border-color:orange; 
  
}

.result {
  width:150px;
}

.result button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

